@{// Copyright (c) Bluebeam Inc. All rights reserved.
  //
  // Licensed under the MIT License. See LICENSE in the project root for license information.
}

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
